*.sql
error_log
composer.json_*
composer.lock_*
web/sites/default/files
web/sites/default/settings.php
web/sites/default/settings.local.php
web/sites/default/services.local.yml
*.DS_Store
*.mysql
*.gz
.lando.yml
php_errorlog