<div class="cbp-slider">
  <ul class="cbp-slider-wrap">
    {% for image in images %}
      <li class="cbp-slider-item">
        <a class="a" href="{{ image['#item'].getValue()['title'] }}">{{ image }}</a>
        <div class="img-alt">
          {{ image['#item'].getValue()['alt'] }}
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
